/*-----------header方法1----------*/
header{
	width: 100%;
	height: 60px;
	background: #333333;
	position: relative;
	overflow: auto;
}

.logo{
	position: absolute;
	left:38px;
	top: 10px;
}
nav ul{
	margin:22px 15px 0 0;

}
nav ul li{
	float: right;
	margin-right: 5px;
}
/*-----------heaedr方法2-----------*/


/*
header{
	width: 100%;
	height:60px;
	background: #333333;
	overflow:auto;

}

.logo{
	width: 118px;
	height: 40px;
	margin: -30px 0 0 38px;
}

nav{
	width: 316px;
	clear: both;
	float: right;
}
nav ul{
	width: 316px;
	height: 18px;
	margin:22px 15px 0 0;

}

nav ul li{
	float: right;
	margin-right: 5px;
}

*/
/*-------------end--------------*/



/*-------------article-----------*/

.indent{
	text-indent: 10px;
}

article{
	background: #DEDEDE;
	overflow: hidden;
}

.page2,.page1,.page3,.page4,figure{
	height: 550px;
	margin: 20px 20px 20px 20px;
	background: #ffffff;
	border-radius: 1px;
	box-shadow: 1px 1px 5px;
}

.page1{
	height: 350px;
	
}

.page2{
	height: 1000px;
	
}
.page3{
	height: 400px;
}
.page4{
	height: 500px;
}

dt{
	width: 120px;
	height: 125px;
	margin: 10px 0 5px 20px;
	box-shadow:1px 1px 5px;  
}

dt p{

	text-align: center;
}

dt img{
	width: 100px;
	height: 80px;
	margin: 0 auto;
}

.header{
	background:#333333;
	color: #fff; 
}

.end{
	background:#ccc;
}

table{
	width: 1000px;
	border: 1px solid #000;
}

.title{
	padding-top: 20px;
	margin-left: 20px;
	height: 40px;
}

.title h1{
	border-left: 5px solid #ccc;
	padding-left: 10px;
}

.page-end{
	padding-top: 45px;
	height: 100px;
	background: #333;
	color: #fff;
	text-align: center;
}

.form{
	width: 450px;
	margin: 20px auto;
	padding-right: 350px;
}

.form-left{
	display: inline-block;
	width: 200px;
	direction: rtl;
	height: 22px;
}

.form-right{
	display: inline-block;
	width: 200px;
	margin-left: 20px;
}

.form-right-max{
	margin-left: 223px;
}

.submit{
	border-radius: 20px;
	background: #3355d0;
	width: 100%;
	height:50px;
	color: #000;
	margin:20px;
}