.ib{display: inline-block;}
 /* 通用头部 */
header{
	width: 100%;
	height:60px;
	font-family: 'SimHei';
	font-size: 21px;
	position: relative;
	color: #83868d;
}
header .logo{
	margin-left: 60px;
	height:60px;
	display: table-cell;
	vertical-align: middle;
	position: absolute;top: 10px;left: 0;
}
header nav{
	position: absolute;right: 0;
}
header li{
	display: inline-block;
	margin-right: 20px;
}
header li:hover{
	color: #e9605e;
	border-bottom: 3px solid #f00;
}
header .icon{color: #e9605e}
header li img{
	position: relative;top: 20px;right:20px; 
}
/*------头部结束---------*/

/*--------图片展示---------*/
.banner{position: relative;font-family: 'Microsoft YaHei';}
.banner img{width: 100%;}
.banner .location{position: absolute;top: 232px;left: 118px;}
.banner .font1{font-size: 60px;color: #fff;}
.banner .font2{color: #fff;font-size: 21px;}
.banner a{
	display: block;
	width: 330px;
	height: 62px;
	background-color: #e74f4d;
	margin-top: 68px;
	overflow: hidden;
}
.banner .font-center{
	color: #fff;
	font-size: 30px;
	margin-top: 12px;
	margin-left: 100px;
}
	/* -----END------------ - */

	/*------图标标语----------*/
.list{
	width: 100%;
	height: 250px;
}
